In [1]:
import pandas as pd
import numpy as np
prices = pd.read_csv("./data/sample_prices.csv")
returns= prices.pct_change()
returns

        BLUE    ORANGE
0        NaN       NaN
1   0.023621  0.039662
2  -0.021807 -0.033638
3  -0.031763  0.082232
4   0.034477  0.044544
5   0.037786 -0.026381
6  -0.011452 -0.049187
7   0.032676  0.117008
8  -0.012581  0.067353
9   0.029581  0.078249
10  0.006151 -0.168261
11  0.012162  0.024041
12  0.021149 -0.055623

In [3]:
returns = returns.dropna()
returns

        BLUE    ORANGE
1   0.023621  0.039662
2  -0.021807 -0.033638
3  -0.031763  0.082232
4   0.034477  0.044544
5   0.037786 -0.026381
6  -0.011452 -0.049187
7   0.032676  0.117008
8  -0.012581  0.067353
9   0.029581  0.078249
10  0.006151 -0.168261
11  0.012162  0.024041
12  0.021149 -0.055623

In [4]:
returns.std()

BLUE      0.023977
ORANGE    0.079601
dtype: float64

In [5]:
devations = returns - returns.mean()
squared_devations = pow(devations, 2)
variance = squared_devations.mean()
volatility = np.sqrt(variance)